@import './styles/global.scss';
@import './styles/styles.scss';
@import './styles/mobile.scss';



.contain1 p {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

